<div class="desktop">
    <header class="desktop__header">
        <nav class="desktop__header__content">
            <div class="desktop__header__content__logo--desktop">
                <a href="#"><img src="../../../../assets/icons/logos/Logo-desktop.svg" alt="台灣走走的電腦 logo"></a>
            </div>
            <div class="desktop__header__content__logo--mobile">
                <a href="#"><img src="../../../../assets/icons/logos/Logo-mobile.svg" alt="台灣走走的手機 logo"></a>
            </div>
            <ul class="desktop__header__content__menu--desktop">
                <li class="desktop__header__content__menu--desktop__item"><a href="#">探索景點</a></li>
                <li class="desktop__header__content__menu--desktop__item"><a href="#">節慶活動</a></li>
                <li class="desktop__header__content__menu--desktop__item"><a href="#">品嚐美食</a></li>
            </ul>
        </nav>
        <div class="desktop__header__content__menu--mobile">
            <span class="line--half"></span>
            <span class="line--full"></span>
            <span class="line--half"></span>
        </div>

    </header>
    <main class="desktop__content">
        <router-outlet></router-outlet>
    </main>
    <footer class="desktop__footer">
        #The F2E 3rd, Week-1. Developed by #Eric Lin. Designed by #Breakfast. #Tai-Walk.
    </footer>
</div>
