<div class="z-[2000] backdrop-blur-sm bg-black-700 bg-opacity-10 fixed top-0 right-0 translate-x-full -translate-y-full w-full h-full rounded-full transition-all duration-500"
    [ngClass]="{'scale-150':isOpen,'translate-x-0':isOpen, 'translate-y-0':isOpen,'scale-0':!isOpen}"
    (click)="isOpen = false">
</div>
<nav class="z-[3000] w-[276px] h-[330px] pt-[17px] px-1 fixed top-0 right-0 bg-white border border-grey-light rounded-bl-[30px] translate-x-full opacity-0 transition-all duration-300"
    [ngClass]="{'translate-x-0':isOpen,'opacity-100':isOpen}">
    <div class="flex pl-[26px] mb-[9px]">
        <img src="assets/icons/logos/Logo-mobile.svg" alt="台灣走走的手機 logo" class="h-[30px]">
        <a href="javascript:void(0);"
            class="w-[50px] h-[50px] m-2 px-[10px] py-[15px] flex flex-col justify-center items-center tablet:hidden absolute top-0 right-0 bg-green-menu rounded-xl"
            (click)="isOpen = false" type="button">
            <img src="assets/icons/misc/close.svg" alt="">
        </a>
    </div>
    <ul (click)="search($event)" class="text-grey text-xl list-none">
        <li class="py-6 px-[89px] border-b border-grey-light">
            <a href="javascript:void(0);" data-search="ScenicSpot">
                探索景點
            </a>
        </li>
        <li class="py-6 px-[89px] border-b border-grey-light">
            <a href="javascript:void(0);" data-search="Activity">
                節慶活動
            </a>
        </li>
        <li class="py-6 px-[89px]">
            <a href="javascript:void(0);" data-search="Restaurant">
                品嚐美食
            </a>
        </li>
    </ul>
</nav>
<div class="h-full min-h-[100vh] relative top-0 left-0 font-tc">
    <header class="z-[2000] fixed top-0 left-0 w-full h-16 tablet:h-20 tablet:border-b border-grey-light bg-white">
        <nav class="w-full h-full flex content-center justify-between px-11">
            <div class="hidden tablet:flex content-center justify-center">
                <a class="max-h-8 m-auto" routerLink="/home"><img src="assets/icons/logos/Logo-mobile.svg"
                        alt="台灣走走的電腦 logo"></a>
            </div>
            <div class="block tablet:hidden m-auto">
                <a routerLink="/home"><img src="assets/icons/logos/Logo-mobile.svg" alt="台灣走走的手機 logo"></a>
            </div>
            <ul (click)="search($event)" class="hidden tablet:flex tablet:items-center">
                <li
                    class="m-auto text-lg font-400 text-grey hover:text-green mr-5  border-b-2 border-transparent hover:border-gold transition-all">
                    <a href="javascript:void(0);" data-search="ScenicSpot">
                        探索景點
                    </a>
                </li>
                <li
                    class="m-auto text-lg font-400 text-grey hover:text-green mr-5  border-b-2 border-transparent hover:border-gold transition-all">
                    <a href="javascript:void(0);" data-search="Activity">
                        節慶活動
                    </a>
                </li>
                <li
                    class="m-auto text-lg font-400 text-grey hover:text-green border-b-2 border-transparent hover:border-gold transition-all">
                    <a href="javascript:void(0);" data-search="Restaurant">
                        品嚐美食
                    </a>
                </li>
            </ul>
        </nav>
        <a href="javascript:void(0);"
            class="w-[50px] h-[50px] m-2 px-[10px] py-[15px] flex flex-col justify-between items-end tablet:hidden absolute top-0 right-0 bg-green-menu rounded-xl"
            (click)="isOpen = true" type="button">
            <img src="assets/icons/misc/mobilemenu.svg" alt="">
        </a>
    </header>
    <main class="max-w-[1200px] m-auto px-0 tablet:px-11 mt-[70px] tablet:mt-[162.5px] pb-[120px]">
        <router-outlet></router-outlet>
    </main>
    <footer class="absolute bottom-0 w-full py-5 text-sm text-center text-white bg-green-light">
        #The F2E 3rd, Week-1. Developed by #Eric Lin. Designed by #Breakfast. #Tai-Walk.
    </footer>
</div>
