.carousel {
    position: relative;
    width: 100%;

    &__card {
        width: 100%;
        padding: 0;
        box-shadow: none;

        &__img {
            width: 100%;
            filter: brightness(0.9);
            transform: translateY(-30%);
            cursor: pointer;

            @media screen and (max-width:1110px) {
                transform: translateY(0);
            }
        }
    }

    &__horizontal {
        width: 100%;
        padding: 0 3rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        position: absolute;

        top: 50%;
        transform: translateY(-50%);

        z-index: 100;

        // @media screen and (max-width:610px) {
        //     top: 30%;
        //     transform: translateY(0);
        // }

    }

    &__btn {
        width: 4rem;
        height: 4rem;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba(255, 255, 255, 0.5);

        @media screen and (max-width:610px) {
            visibility: hidden;
        }
    }
}

.position-name {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;

    margin-bottom: 0;
    color: #FFFFFF;

    @media screen and (max-width: 610px) {
        font-size: 16px;
        line-height: 23px;
    }
}
