@import '../../styles/component.scss';

.search-btn {
    &__content {
        margin: auto;
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
    }

    &__img {
        line-height: 0;
    }
}
