<div class="w-full h-full flex justify-end flex-col">
    <div class="w-full h-[50px] mb-[7px] relative inline-block">
        <div
            class="w-full h-full flex items-center justify-between bg-white border-solid border rounded-[5px] border-grey-border">
            <p class="ml-[30px] not-italic font-medium text-base text-green-dark">
                {{type.get(defaultOptions.type)}}</p>
            <a href="javascript:void(0);" (click)="dropdownControl.default=!dropdownControl.default" class="mr-6">
                <figure>
                    <img *ngIf="!dropdownControl.default" src="assets/icons/arrows/arrow-down16.svg"
                        alt="向下展開箭頭">
                    <img *ngIf="dropdownControl.default" src="assets/icons/arrows/arrow-up16.svg"
                        alt="向上展開箭頭">
                </figure>
            </a>
        </div>
        <ul *ngIf="dropdownControl.default" (blur)="dropdownControl.default = false"
            class="absolute mt-[7px] z-10 w-full md:w-[350px] h-[150px] border rounded-md bg-white list-none">
            <li class="hover:bg-green-hover flex items-center h-1/3 w-full border-b"><a
                    class="w-full py-3 ml-[30px] font-normal font-base text-black-300" href="javascript:void(0);"
                    (click)="changeSearchType('ScenicSpot')">探索景點</a></li>
            <li class="hover:bg-green-hover flex items-center h-1/3 w-full border-b"><a
                    class="w-full py-3 ml-[30px] font-normal font-base text-black-300" href="javascript:void(0);"
                    (click)="changeSearchType('Activity')">節慶活動</a></li>
            <li class="hover:bg-green-hover flex items-center h-1/3 w-full"><a
                    class="w-full py-3 ml-[30px] font-normal font-base text-black-300" href="javascript:void(0);"
                    (click)="changeSearchType('Restaurant')">品嚐美食</a></li>
        </ul>
    </div>
    <div class="w-full h-[50px] mb-[7px]">
        <article class="h-full w-full">
            <input
                class="w-full h-full flex items-center justify-between bg-white border-solid border rounded-[5px] border-grey-border px-[30px] font-normal font-base text-black-300 focus:outline-none"
                type="text" [(ngModel)]="defaultOptions.keyword" #keyword="ngModel" id="keyword" name="keyword" required
                [placeholder]="keyword.invalid&& (keyword.dirty || keyword.touched)?'輸入關鍵字後再點擊搜尋':'你想去哪裡？請輸入關鍵字'">
        </article>
    </div>
    <div class="w-full h-[50px]">
        <button (click)="search()"
            class="w-full h-full flex justify-center items-center bg-green hover:bg-green-light rounded-[5px]">
            <div class="flex items-center">
                <img class="inline-block" src="assets/icons/misc/search30.svg" alt="搜尋圖示">
                &nbsp;
                <span class="text-normal text-base text-white m-auto">
                    搜 &nbsp; &nbsp; &nbsp; 尋</span>
            </div>
        </button>
    </div>
</div>
