.desktop-detail {
    width: 100%;
    max-width: 111rem;

    &__common {

        &__path,
        &__carousel {
            margin-bottom: 3rem;
        }

        &__description,
        &__info {
            margin-bottom: 6rem;
        }

    }
}

.path {
    &__container {
        margin-top: 6rem;
    }

    &__content {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        /* identical to box height, or 28px */


        color: #6E7D60;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 8px;

        &>a {
            color: #6E7D60;
            text-decoration: none;

            &:visited {
                color: #6E7D60;
                text-decoration: none;
            }
        }
    }
}

.description {
    &__container {
        max-width: 105rem;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__heading {
            &--primary {
                margin-bottom: 1.55rem;
            }

            &--secondary {
                margin-bottom: 1rem;
            }
        }

        &__chip {
            margin-bottom: 3.35rem;
        }
    }
}

.detail-cards {
    &__container {
        display: flex;
        justify-content: space-between;
        height: 45rem;
    }

    &--left {
        width: 49%;
        max-width: 49%;
    }

    &--right {
        width: 49%;
    }

    &__info {

        &__content {
            background: #F9F9F9;
            padding: 3rem 3rem 6rem;
        }
    }

    &__map {
        &__container {
            width: 100%;
            height: 25rem;
            margin: 0;
            padding: 0;
            margin-bottom: 3.2rem;
        }

        &__content {
            height: 100%;
        }
    }

    &__radius {
        border-radius: 12px;
    }

}

#map {
    height: 100%;
}

.info-list {
    list-style: none;

    &__item {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 1.3rem;
        }

        &__content {
            font-family: 'Noto Sans TC';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            /* identical to box height, or 167% */
            color: #2F2F2F;

        }
    }
}

.surround {
    &__heading {
        margin-bottom: 2rem;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #FFFFFF;
        border: 1.33px solid #E5E5E5;
        border-radius: 6px;
        width: 30%;
        height: 11rem;

        text-decoration: none;

        &__icon {}

        &__name {}
    }

    &__font {
        padding: 0;
        margin: 0;
        font-family: 'Noto Sans TC';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: #7F977B;
    }
}

.slash {
    margin: 0 8px;
}


.heading {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.03em;

    padding: 0;
    margin: 0;
    color: #1E1E1E;
}

.chip {
    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {
        font-family: 'Noto Sans TC';
        background-color: transparent;
        border: 1px solid #BEA363;


        &>* {
            font-style: normal;
            font-weight: 400;
            font-size: 2rem;
            line-height: 2.9rem;
            /* identical to box height */

            color: #BEA363;
        }
    }
}

.label {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.9rem;
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

.detail-intro {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3.1rem;
    /* or 170% */


    color: #000000;
}

a {
    color: #6E7D60;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-btn {
    width: 2.667rem;
    height: 2.25rem;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;

    transition: all .2s ease-in-out;

    &--food {
        background-image: url('../../../../assets/icons/nearby/nearby-food30.svg');

        &:hover {
            background-image: url('../../../../assets/icons/nearby/nearby-food30_hover.svg');
        }
    }

    &--event {
        background-image: url('../../../../assets/icons/nearby/nearby-event30.svg');

        &:hover {
            background-image: url('../../../../assets/icons/nearby/nearby-event30_hover.svg');
        }
    }

    &--scene {
        background-image: url('../../../../assets/icons/nearby/nearby-scene30.svg');

        &:hover {
            background-image: url('../../../../assets/icons/nearby/nearby-scene30_hover.svg');
        }
    }
}


.leaflet-bottom .leaflet-right{
    display: none !important;
}

.spot-card{
    &__content{
        &__heading{
            margin-bottom: 1.2rem;
        }
        &__cards{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
