.icon-btn {
    width: 2.667rem;
    height: 2.25rem;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: contain;

    transition: all .2s ease-in-out;

    &--food {
        background-image: url('../../../../assets/icons/nearby/nearby-food30.svg');

        &:hover {
            background-image: url('../../../../assets/icons/nearby/nearby-food30_hover.svg');
        }
    }

    &--event {
        background-image: url('../../../../assets/icons/nearby/nearby-event30.svg');

        &:hover {
            background-image: url('../../../../assets/icons/nearby/nearby-event30_hover.svg');
        }
    }

    &--scene {
        background-image: url('../../../../assets/icons/nearby/nearby-scene30.svg');

        &:hover {
            background-image: url('../../../../assets/icons/nearby/nearby-scene30_hover.svg');
        }
    }
}


.leaflet-bottom .leaflet-right{
    display: none !important;
}

