<article class="w-full h-full">
    <section class="w-full pt-[24px] mb-4 tablet:mb-[30px] px-[15px] tablet:px-[45px]">
        <nav class="w-full text-xs tablet:text-base">
            <ol class="list-none flex">
                <li><a routerLink="/home" class="text-green-dark">首頁</a></li>
                <li><span class="text-grey mx-2">/</span></li>
                <li><a [routerLink]="['/search']" [queryParams]="{type: type}" class="text-green-dark">{{detailInfo.type}}</a></li>
                <li><span class="text-grey mx-2">/</span></li>
                <li><a [routerLink]="['/search']" [queryParams]="{type: type}" class="text-green-dark">{{detailInfo.city}}</a></li>
                <li><span class="text-grey mx-2">/</span></li>
                <li class="text-grey">{{detailInfo.name}}</li>
            </ol>
        </nav>
    </section>
    <section class="w-full mb-4 tablet:mb-[30px] px-[15px] tablet:px-[45px]">
        <div class="w-full">
            <app-carousel [carouselInfos]="carouselInfos" [option]="carouselOption"></app-carousel>
        </div>
    </section>
    <section class="w-full mb-[30px] tablet:mb-[60px] px-[19px] tablet:px-[60px]">
        <div class="flex flex-col">
            <div class="mb-[10px] tablet:mb-[15.5px]">
                <h1 class="text-2xl tablet:text-4xl text-black-700 font-light">{{detailInfo.name}}</h1>
            </div>
            <div class="flex flex-wrap items-center space-x-2 mb-[18px] tablet:mb-[33.5px]">
                <div *ngFor="let class of detailInfo.classes"
                    class="px-2 py-1 tablet:px-3 flex items-center justify-center text-sm tablet:text-xl text-gold rounded-full border border-gold">
                    <span>#</span>
                    <span>{{class}}</span>
                </div>
            </div>
            <div class="mb-2 tablet:mb-[10px]">
                <h3 class="text-lg tablet:text-xl text-black-300 font-medium tablet:font-bold">景點介紹：</h3>
            </div>
            <div class="text-base tablet:text-lg text-black-700 font-light text-justify">
                {{detailInfo.description}}
            </div>
        </div>
    </section>
    <section class="mb-[60px] bg-grey-background laptop:bg-transparent w-full laptop:px-[45px]">
        <div
            class="w-full px-[15px] laptop:px-0 py-[30px] flex flex-wrap flex-col laptop:flex-row laptop:flex-nowrap items-center laptop:items-start laptop:space-x-5">
            <div class="w-full laptop:p-[30px] laptop:pb-[60px] mb-[30px] laptop:bg-grey-background laptop:rounded-xl">
                <div [ngSwitch]="getByValue(detailInfo.type)" class="w-full h-auto">
                    <ul *ngSwitchCase="'ScenicSpot'" class="w-full list-none flex flex-col">
                        <li class="mb-2 laptop:mb-3 flex ">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">開放時間：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal">{{detailInfo.openTime}}</span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">服務電話：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal"><a
                                    href="tel:{{detailInfo.phone}}">{{detailInfo.phone}}</a></span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">景點地址：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal"><a
                                    href="https://www.google.com/maps/place/{{detailInfo.position.PositionLat}},{{detailInfo.position.PositionLon}}">{{detailInfo.address
                                    || detailInfo.name}}</a></span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">官方網站：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal"><a
                                    href="{{detailInfo.websiteUrl}}">{{detailInfo.websiteUrl}}</a></span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">票價資訊：</h2>
                            <span
                                class="text-base laptop:text-lg text-black-700 font-normal">{{detailInfo.ticketInfo}}</span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">注意事項：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal">{{detailInfo.remarks}}</span>
                        </li>
                    </ul>
                    <ul *ngSwitchCase="'Restaurant'" class="info-list">
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">營業時間：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal">{{detailInfo.openTime}}</span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">聯絡電話：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal"><a
                                    href="tel:{{detailInfo.phone}}">{{detailInfo.phone}}</a></span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">餐廳地址：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal"><a
                                    href="https://www.google.com/maps/place/{{detailInfo.position.PositionLat}},{{detailInfo.position.PositionLon}}">{{detailInfo.address
                                    || detailInfo.name}}</a></span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">官方網站：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal"><a
                                    href="{{detailInfo.websiteUrl}}">{{detailInfo.websiteUrl}}</a></span>
                        </li>
                    </ul>
                    <ul *ngSwitchCase="'Activity'" class="info-list">
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">活動時間：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal">{{commonCard.start}} ~
                                {{commonCard.end}}</span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">聯絡電話：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal"><a
                                    href="tel:{{detailInfo.phone}}">{{detailInfo.phone}}</a></span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">主辦單位：</h2>
                            <span
                                class="text-base laptop:text-lg text-black-700 font-normal">{{detailInfo.organizer}}</span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">活動地點：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal"><a
                                    href="https://www.google.com/maps/place/{{detailInfo.position.PositionLat}},{{detailInfo.position.PositionLon}}">{{detailInfo.address
                                    || detailInfo.name}}</a></span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">官方網站：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal"><a
                                    href="{{detailInfo.websiteUrl}}">{{detailInfo.websiteUrl}}</a></span>
                        </li>
                        <li class="mb-2 laptop:mb-3 flex  items-center">
                            <h2 class="text-lg laptop:text-xl text-black-700 font-bold flex-[0_0_100px]">注意事項：</h2>
                            <span class="text-base laptop:text-lg text-black-700 font-normal">{{detailInfo.remarks}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="w-full laptop:flex laptop:flex-col">
                <div class="w-full laptop:w-[540px] h-[185px] tablet:h-[250px] mb-[30px] laptop:mb-8">
                    <div id="map" class="w-full h-full rounded-xl"></div>
                </div>
                <div class="w-full">
                    <div class="pb-5 laptop:p-0 laptop:mb-5">
                        <h2 class="text-lg tablet:text-xl text-black-700 font-bold flex-[0_0_100px]">周邊資訊：</h2>
                    </div>
                    <div class="flex flex-col laptop:flex-row space-y-[9px] laptop:space-y-0 laptop:space-x-[30px] text-green">
                        <a class="w-full h-[76px] laptop:h-[110px] flex flex-col items-center laptop:justify-center bg-white rounded-lg border border-grey-light"
                            [routerLink]="['/search']" [queryParams]="{type: 'ScenicSpot'}">
                            <div class="p-0 m-0">
                                <p class="icon-btn--scene icon-btn" alt="附近景點 icon"></p>
                            </div>
                            <div>
                                <p class="text-base font-bold">附 近 景 點</p>
                            </div>
                        </a>
                        <a class="w-full h-[76px] laptop:h-[110px] flex flex-col items-center laptop:justify-center bg-white rounded-lg border border-grey-light"
                            [routerLink]="['/search']" [queryParams]="{type: 'Activity'}">
                            <div class="p-0 m-0">
                                <p class="icon-btn--event icon-btn" alt="附近活動 icon"></p>
                            </div>
                            <div>
                                <p class="text-base font-bold">附 近 活 動</p>
                            </div>
                        </a>
                        <a class="w-full h-[76px] laptop:h-[110px] flex flex-col items-center laptop:justify-center bg-white rounded-lg border border-grey-light"
                            [routerLink]="['/search']" [queryParams]="{type: 'Restaurant'}">
                            <div class="p-0 m-0">
                            </div>
                            <p class="icon-btn--food icon-btn" alt="附近美食 icon"></p>
                            <div>
                                <p class="text-base font-bold">附 近 美 食</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w-full mb-[71px] tablet:mb-[120px] px-[15px] tablet:px-0">
        <div class="mb-2 tablet:mb-3 flex  justify-between items-center">
            <div class="hidden tablet:block px-[15px] mb-3" [ngSwitch]="getByValue(detailInfo.type)">
                <h1 *ngSwitchCase="'ScenicSpot'" class="text-4xl text-black-700 font-light">還有這些不能錯過的景點</h1>
                <h1 *ngSwitchCase="'Restaurant'" class="text-4xl text-black-700 font-light">還有這些不能錯過的美食</h1>
                <h1 *ngSwitchCase="'Activity'" class="text-4xl text-black-700 font-light">還有這些不能錯過的活動</h1>
            </div>
            <div class="tablet:hidden">
                <h1 class="text-2xl text-black-700 font-light">還有這些不能錯過</h1>
            </div>
            <div [ngSwitch]="getByValue(detailInfo.type)">
                <a *ngSwitchCase="'ScenicSpot'" class="no-underline" href="javascript:void(0);">
                    <div class="flex items-center text-orange">查看更多景點 <mat-icon>chevron_right</mat-icon>
                    </div>
                </a>
                <a *ngSwitchCase="'Restaurant'" class="no-underline" href="javascript:void(0);">
                    <div class="flex items-center text-orange">查看更多美食 <mat-icon>chevron_right</mat-icon>
                    </div>
                </a>
                <a *ngSwitchCase="'Activity'" class="no-underline" href="javascript:void(0);">
                    <div class="flex items-center text-orange">查看更多活動 <mat-icon>chevron_right</mat-icon>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-full overflow-x-scroll laptop:overflow-x-hidden">
            <div class="w-[928px] laptop:w-[1110px] flex items-center">
                <article class="w-[220px] tablet:w-[255px] mr-[15px] tablet:mr-[20px] last:mr-0" *ngFor="let info of surroundList">
                    <app-spot-card (click)="refresh()" [datum]="info"></app-spot-card>
                </article>
            </div>
        </div>
    </section>
</article>
