<section class="w-full px-[15px] overflow-hidden">
    <section class="w-full flex flex-col items-center mb-[38px] tablet:mb-14  px-7 tablet:px-24  laptop:flex-row laptop:justify-between">
        <div class="flex flex-col items-center justify-center laptop:items-start mb-5 laptop:mb-0">
            <div class="font-light text-black-700 leading-10 tablet:leading-[70px] tablet:mb-6 relative">
                <h1 class="text-[28px] tablet:text-5xl mt-[6px] tablet:mb-5 relative max-w-fit m-auto laptop:mx-0">
                    探索台灣之美
                    <div
                        class="text-transparent text-[28px] tablet:text-5xl my-5 mb-2 underline underline-offset-8 decoration-2 decoration-green-decoration absolute -top-5 right-0">
                        台灣之美</div>
                </h1>
                <h1 class="text-[28px] text-center tablet:text-5xl laptop:text-left">讓我們更親近這片土地</h1>
            </div>
            <div class="flex justify-start items-center">
                <div class="flex items-center">
                    <figure>
                        <img src="assets/icons/spots/spot24_Y.svg">
                    </figure>
                    <span>
                        <p class="text-sm tablet:text-xl text-grey font-normal leading-[29px]">台灣旅遊景點導覽</p>
                    </span>
                </div>
                <div>
                    <span>
                        <p class="text-xs tablet:text-lg text-grey font-display font-bold leading-[24px]">Taiwan Travel
                            Guide</p>
                    </span>
                </div>
            </div>
        </div>
        <div class="w-full max-w-[350px]">
            <app-search-group></app-search-group>
        </div>
    </section>
    <section class="w-full mb-6 tablet:mb-9">
        <article class="w-full">
            <app-carousel [carouselInfos]="carouselInfos"></app-carousel>
        </article>
    </section>
    <section class="w-full mb-9 flex flex-col">
        <div class="pl-1 tablet:pl-[15px] mb-3 flex items-center">
            <h2 class="text-2xl tablet:text-4xl text-black-700 font-light mr-auto">近期活動</h2>
            <a class="no-underline" [routerLink]="['/search']" [queryParams]="{type: 'Activity'}">
                <div class="flex items-center text-orange">查看更多活動 <mat-icon>chevron_right</mat-icon>
                </div>
            </a>
        </div>
        <div class="w-full grid grid-rows-4 laptop:grid-rows-none laptop:grid-cols-2 gap-x-[30px] gap-y-3">
            <article *ngFor="let activity of activityInfos"
                class="h-[62px] tablet:h-40 bg-transparent tablet:bg-grey-background tablet:border tablet:border-grey-light rounded-xl overflow-hidden">
                <a [routerLink]="['/detail']" [queryParams]="{type:activity.type, id:activity.id}"
                    class="w-full h-full no-underline flex hover-event">
                    <div
                        class="flex-[0_0_90px] tablet:flex-[0_0_160px] border border-grey-light overflow-hidden rounded-laptop">
                        <img src="{{activity.picture.PictureUrl1}}"
                            onerror="this.src='assets/error/NoImage-255x200.png'"
                            alt="{{activity.picture.PictureDescription1}}" class="w-full h-full transition-all">
                    </div>
                    <div class="flex-1 flex flex-col pl-4 pr-12 pb-[3px] tablet:px-[30px] tablet:pt-4 tablet:pb-[18px]">
                        <div class="text-grey text-xs tablet:text-base font-normal mb-[3px]">{{activity.start}} -
                            {{activity.end}}</div>
                        <div
                            class="w-full h-[22px] tablet:h-[60px] text-[15px] tablet:text-[22px] leading-8 font-bold mb-[1px] tablet:mb-[17px]">
                            {{activity.name}}
                        </div>
                        <div class="flex justify-between items-center">
                            <div class="flex items-center text-grey">
                                <img src="assets/icons/spots/spot16.svg" alt="景點圖示"
                                    class="hidden tablet:block mr-1">
                                <p class="text-[11px] tablet:text-base">{{activity.city}}</p>
                            </div>
                            <div class="hidden tablet:flex items-center">
                                <p class="text-base text-green">詳細介紹</p>
                                <img src="assets/icons/arrows/arrow-right16_G.svg" alt="詳細介紹圖示">
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </section>
    <section class="w-full mb-9 overflow-hidden max-w-[1110px]">
        <div class="pl-1 tablet:pl-[15px] mb-3 flex items-center">
            <h2 class="text-2xl tablet:text-4xl text-black-700 font-light mr-auto">熱門打卡景點</h2>
            <a class="no-underline" [routerLink]="['/search']" [queryParams]="{type: 'ScenicSpot'}">
                <div class="flex items-center text-orange">查看更多景點 <mat-icon>chevron_right</mat-icon>
                </div>
            </a>
        </div>
        <div class="w-full overflow-x-scroll laptop:overflow-x-hidden">
            <div class="w-[928px] laptop:w-full flex items-center laptop:justify-between">
                <section class="w-[220px] tablet:w-[255px] mr-[30px] laptop:mr-0 last:mr-0" *ngFor="let spot of hotSpotInfos">
                    <app-spot-card [datum]="spot"></app-spot-card>
                </section>
            </div>
        </div>
    </section>
    <section class="w-full overflow-hidden">
        <div class="pl-1 tablet:pl-[15px] mb-3 flex items-center">
            <h2 class="text-2xl tablet:text-4xl text-black-700 font-light mr-auto">一再回訪美食</h2>
            <a class="no-underline" [routerLink]="['/search']" [queryParams]="{type: 'Restaurant'}">
                <div class="flex items-center text-orange">查看更多美食<mat-icon>chevron_right</mat-icon>
                </div>
            </a>
        </div>
        <div class="w-full overflow-x-scroll laptop:overflow-x-hidden">
            <div class="w-[928px] laptop:w-full flex items-center laptop:justify-between">
                <section class="w-[220px] tablet:w-[255px] mr-[30px] laptop:mr-0 last:mr-0" *ngFor="let spot of hotRestaurantInfos">
                    <app-spot-card [datum]="spot"></app-spot-card>
                </section>
            </div>
        </div>
    </section>
</section>
