@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Noto Sans TC';
        font-style: normal;
    }
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 4px;
    overflow-y: scroll;
    background-color: transparent;
    box-shadow: none;

    @media screen and (min-width:768px) {
        background-color: rgba(127, 151, 123, 0.2);
        border-radius: 10px;
    }
}

::-webkit-scrollbar-thumb {
    background-color: transparent;

    @media screen and (min-width:768px) {
        background-color: rgba(127, 151, 123, 0.8);
        border-radius: 10px;

        &:hover {
            background-color: #65895F;
        }
    }

}
